* {
    border: none;
    border-radius: 0;
    font-family: "JetbrainsMono Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#workspaces {
	background-color: #24283b;
	margin: 5px;
	margin-left: 10px;
	border-radius: 5px;
}
#workspaces button {
    padding: 5px 5;
    color: #c0caf5;
}

#workspaces button.active {
  color: #7dcfff;

}
#workspaces button.focused {
    color: #24283b;
    background-color: #7dcfff;
    border-radius: 10;
}

#workspaces button:hover {
	background-color: #7dcfff;
	color: #24283b;
	border-radius: 10;
}


#custom-power_profile,
#custom-launcher,
#custom-night,
#custom-playerctl,
#custom-playerlabel,
#custom-power,
#custom-weather,
#custom-kb_brightness,
#custom-myhyprv,
#custom-light_dark,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#custom-launcher{
	background-color: #24283b;
	padding: 5px 10px;
  opacity: 0.8;
	margin: 5px 0px;
}
#custom-playerctl{
    background: #24283b;
    border-radius: 0px 0px 0px 0px;
    opacity: 0.8;
    padding: 0px 10px;
    margin: 5px 0px;

}
#custom-playerlabel{
    background: #24283b;
    border-radius: 0px 0px 0px 0px;
    opacity: 0.8;
    padding: 0px 10px;
    margin: 5px 0px;

}
#custom-date {
	color: #7dcfff;
}

#custom-power {
	color: #7dcfff;
	border-radius: 0 10px 10px 0;
	margin-right: 0px;
	margin-left: 0px;
}

#clock {
    color: #b48ead;
    border-radius: 0px 5px 5px 0px;
    margin-right: 10px;
}

#network {
	color: #f7768e;
	border-radius: 5px 0px 0px 5px;
}

#pulseaudio {
	color: #e0af68;
}
